.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.formSearch {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0px 8px;
  outline: none;
}

.formSearch:hover {
  border-color: #45c2f3;
}

.formSearch:focus {
  border-color: #4e75ff;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.btn:hover,
.btn:focus {
  background-color: #6c8cff;
}
